<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="script.js" charset="utf-8"></script>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <img src="https://www.iconfinder.com/data/icons/seo-web-optomization-ultimate-set/512/seo_successful_planning_checkmark-512.png" class="img" alt="checked">
  <link href="https://fonts.googleapis.com/css?family=Oswald:500|Roboto+Condensed" rel="stylesheet">
  <title>WeekendChallenge3</title>
</head>

</div>

<body>
  <h1>DO it TO it TO-DO List </h1>
  <div class="input">
    <input id='tasks' class="input" placeholder='Task'>
    <button type="button" id='addTask'>Add Task</button>



    <div id="outputDiv">
    </div>

  </div>

</body>

</html>
